<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="MakanYuk - Aplikasi Katalog estoran">
        <meta name="theme-color" content="#F55F20"/>
        <title>MakanYuk - Restaurant Apps</title>
        <meta name="dicoding:email" content="nabileldruzo@gmail.com">
        <link rel="icon" href="./images/styles/favicon.ico">
        <link rel="apple-touch-icon" href="/images/icon-pack/icon-192x192.png">
        <link rel="manifest" href="manifest.json">
        <link rel="preconnect" href="https://restaurant-api.dicoding.dev/">
        <style>
            #preload {
                height: 100%;
                margin: 0 20px;
                background-color: #ffb08f;
                display: grid;
                grid-template-rows: 64px 250px 700px;
                gap: 20px;
            }
            .nav-skeleton, .hero-skeleton, .content-skeleton {background-color:  #e2e2e2;}
        </style>
    </head>
    <body>
        <div id="preload">
            <div class="nav-skeleton"></div>
            <div class="hero-skeleton"></div>
            <div class="content-skeleton"></div>
        </div>
        <app-skip-content></app-skip-content>
        <header>
            <app-nav title="MakanYuk"></app-nav>
            <app-hero 
                title="MakanYuk"
                content="Lihat berbagai macam restoran, review, serta rekomendasi terbaik"
            ></app-hero>
        </header>
        <noscript 
            style="
            display: flex;
            flex-direction: column; 
            justify-content: center; 
            align-items: center;
            text-align: center;
        ">
            <h1 style="font-weight: bold;">Mohon Aktifkan Akses Javascript Untuk Mengakses Halaman Ini</h1>
            <h2>Jika Halaman Terus Error, Silahkan Hubungi <a href="https://www.linkedin.com/in/eldruzo/">Administrator</a></h2>    
        </noscript>
        <main id="content-skip"></main>
        <div>
            <app-footer></app-footer>
        </div>
    </body>
</html>
